[Unit]
Description=Mina Status Monitor
After=mina.service

[Service]
Type=simple
Restart=always
RestartSec=5min
ExecStart=/bin/bash /usr/local/bin/mina-status-monitor.sh

[Install]
WantedBy=default.target
