[Unit]
Description=Mina Archive Service
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
EnvironmentFile=%h/.mina-archive-env
Type=simple
Restart=always
RestartSec=15
ExecStart=/usr/local/bin/mina-archive run \
 --postgres-uri $POSTGRES_URI \
 --server-port 3086

[Install]
WantedBy=default.target
