[Unit]
Description=Mina Logs Export and Archvie to GCS
After=mina.service
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/bin/mina-log-archive-gcs-upload.sh

[Install]
WantedBy=default.target
