[Unit]
Description=Mina Staking Ledger Export Timer

[Timer]
OnCalendar=00/4:00
Unit=mina-logs-archive.service
Persistent=true

[Install]
WantedBy=default.target
