[Unit]
Description=prom-node-exporter
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=15
ExecStart=/usr/local/bin/node_exporter

[Install]
WantedBy=default.target