[Unit]
Description=prometheus
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=15
ExecStart=/usr/local/bin/prometheus --config.file=/etc/prometheus/prometheus.yml

[Install]
WantedBy=default.target